.contener{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.login{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f7f6;
    
}
.signup{
     height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(6, 6, 232); 
    flex-direction: column;
}


.input{
    background-color: #ffffff ;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0.1);
   display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
   
}
.welcome{
    color: #333;
    display: flex;
    justify-content: center;
}
.input-group label{
      display: block;
      font-size: 16px;
      color: #333;
      margin-bottom: 8px;
      margin-top: 8px;
      
}
.input-group input{
    padding: 10px;
    border: 1px solid #4d5c72;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    color: #333;
   
   
}

.btn{
    width: 350px;
    background-color: #1877f2 !important;
    padding: 12px;
    color: #f4f7f6;
    border: none;
    border-radius: 13px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    justify-content: center;
    display: flex;
 
}

.btn:hover{
    background-color: #166fe5 !important;
}
.btn-1{
    width: 150px;
     background-color: #18a2f2 !important;
    padding: 12px;
    color: #f4f7f6;
    border: none;
    border-radius: 13px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    justify-content: center;
    display: flex;
}
